.border_table_schedule {
  padding: 10px;
  width: 1120px;
  border-radius: 5px;
  background-color: #fff;

}

/* main */
.schedule_optionTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.option_time {
  padding: 16px;
  margin: 18px 0;
  font-size: 16px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
}

#week {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  text-align: center;
  outline: none;
  transition: .4s;
  border-radius: 5px;
}

.screen_shot {
  position: absolute;
  top: 24px;
  right: 20px;
  /* transform: translateY(-50%); */
}

.screen_shot button {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #f0f0f0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
  transition: .2s ease-in-out;
  /* box-shadow: 0 0 10px 5px rgba(0,0,0,0.1); */
}

.screen_shot button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.screen_shot button:active:after {
  background: transparent;
}

.screen_shot button:hover:before {
  opacity: 1;
}

.screen_shot button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(17, 17, 17);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.schedule {
  width: 1100px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 200px;
}

.tabs {
  height: 40px;
  position: relative;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.tabs_box {
  position: absolute;
  bottom: 0;
}

.tabItem {
  position: relative;
  width: 150px;
  height: 30px;
  float: left;
  background: #fff;
  text-align: center;
  line-height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 5px;
  border-bottom: 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.active {
  background-color: #ccc;
}

.tabAdd {
  width: 40px;
  height: 30px;
  float: left;
  background: #fff;
  text-align: center;
  line-height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 5px;
  border-bottom: 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  cursor: pointer;
  transition: .1s;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tabItem .tab_primary {
  position: absolute;
  left: 0;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.tabItem .tab_secondary {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  /* background-color: #fff; */
}

.tab_secondary i {
  padding: 4px 5px 2.5px;
  transition: .1s;
  border-radius: 2px;
  cursor: pointer;
}

.tab_secondary i:hover, .tabAdd:hover {
  background-color: rgba(0,0,0,0.2);
}

.tab_secondary i:active,  .tabAdd:active {
  background-color: rgba(0,0,0,0.5);
}

.schedule table, .schedule th, .schedule td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
}

.schedule td:not(:first-child) {
  font-size: 12px;
}

.schedule th:not(:first-child), .schedule td:first-child {
  background-color: var(--base_color);
  font-size: 12px;
}

.schedule tr {
  height: 32px;
}

.secondary {
  background-color: var(--secondary_hover)!important;
}


@media (max-width: 1023px) and (min-width: 740px){
  
  .schedule_optionTime {
    width: 100%;
    margin: 0 32px;
  }

  .schedule {
    width: 100%;
  }

  .screen_shot {
    right: 50px;
  }

}