:root {
  --primary: #2196f3;
  --primary_hover: #4dabf5;
  --secondary: #ff1744;
  --secondary_hover: #ff4569;
  --base_color: #F6F6FF;
}

th {
  cursor: default;
}

button {
  font-family: monospace;
}

.core {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* min-width: 1300px; */
  min-height: 100vh;
  font-size: 12px;

}


.footer {
  padding: 32px 100px;
  background-color: #181821;
  color: #a9b3bb;
  text-align: center;
}

/* PC */
@media (min-width: 1024px){
    
} 
/* Tablet */
@media (max-width: 1023px) and (min-width: 740px){
  
  .table {
    width: 100%;
  }

  .schedule_optionTime {
    width: 100%;
    margin: 0 32px;
  }

  .schedule {
    width: 100%;
  }

  .table_result {
    width: 100%;
    padding: 0 32px;
  }

  .screen_shot {
    right: 50px;
  }

}
/* Mobile */
@media (max-width: 740px){

}

