.export {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -180%;
}

.nameFile {
  color: var(--secondary);
}

.content {
  text-align: center;
}

@media (max-width: 1023px) and (min-width: 740px){
  
  .export {
    right: -160%;   
  }

}