.styleModal p{
  font-size: 14px;
}

.styleModal p > span {
  color: var(--secondary);
  font-weight: 600;
}

.lession {
  text-align: center;
}

.gutter_row {
  text-align: right;
}

@media (max-width: 1023px) and (min-width: 740px){
  .styleModal p{
    font-size: 12px;
  }
}