.panelLiveReview {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.util_PanelLiveReview{
  position: relative;
  z-index: 2;
}
