:root {
  --primary: #2196f3;
  --primary_hover: #4dabf5;
  --secondary: #ff1744;
  --secondary_hover: #ff4569;
}

.core {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 1300px;
  height: 1800px;
}

.search_bar {
  display: flex;
  margin: 50px 0 30px;
  background-color: #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.search_box {
  display: flex;
  align-items: center;
}

.input_search {
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  margin-right: 20px;
}

.btn_search {
  height: 40px;
  /* width: 80px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  color: #fff;
  border-radius: 5px; 
  background-color: var(--primary);
  border: none;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.btn_search:hover {
  background-color: var(--primary_hover)
}

.btn_search:active {
  transform: scale(.98);
}

.search_option {
  display: flex;
  align-items: center;  
}

.search_option select {
  height: 40px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  margin-right: 20px;
}

.table {
  width: 1100px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.subject_title {
  background-color: var(--primary_hover);
  color: #fff;
  width: 100%;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.subject_box {
  height: 300px;
  overflow: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}

.schedule_optionTime {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option_time {
  padding: 20px;
  margin: 18px 0;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
}

#week {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  text-align: center;
}

.schedule {
  width: 1200px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.schedule table, .schedule th, .schedule td {
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.schedule td {
  padding: 0 10px;
}

.schedule th:not(:first-child), .schedule td:first-child {
  background-color: var(--primary);
}

.schedule tr:not(:first-child) {
  height: 32px;
 
}

.secondary {
  background-color: var(--secondary_hover)!important;
}

.table_result {
  margin-top: 32px;

}

.table_result table {
  width: 1200px;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.table_result td, .table_result th {
  border: 1px solid #000;
  height: 32px;
}

.table_result th {
  background-color: var(--primary);
  color: #fff;
}

.table_result tr > td:last-child {
  cursor: pointer;
}

.table_result i {
  color: var(--secondary);
  transition: .1s;
}

.table_result tr > td:last-child:hover i {
  color: var(--secondary_hover);
  font-size: 20px;
}

.btn_clear {
  color: var(--secondary);
  transition: .1s;
}

.btn_clear:hover {
  font-size: 20px;
  color: var(--secondary_hover)
}