:root {
  --primary: #2196f3;
  --primary_hover: #4dabf5;
  --secondary: #ff1744;
  --secondary_hover: #ff4569;
}

th {
  cursor: default;
}

.core {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* min-width: 1300px; */
  min-height: 100vh;
  font-size: 12px;

}

.search_bar {
  margin: 30px 0 20px;
  /* width: 650px; */
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  background-color: #ccc;
  border-radius: 5px;
}

.search_bar_block_top {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.search_box {
  display: flex;
  align-items: center;
}

.input_search {
  padding: 10px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  margin-right: 20px;
}

.btn_search, .btn_filter {
  height: 30px;
  width: 100px;
  color: #fff;
  border-radius: 5px; 
  background-color: var(--primary);
  border: none;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.btn_search:hover, .btn_filter:hover {
  background-color: var(--primary_hover)
}

.btn_search:active, .btn_filter:active {
  transform: scale(.98);
}

.search_option {
  display: flex;
  align-items: center;  
}

.search_option select {
  height: 30px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  margin-right: 20px;
}

.search_bar_block_bot {
  padding: 20px;
  background-color: #ddd;
  border-radius: 0 0 5px 5px;
}

.search_bar_block_bot_show {
  display: block;
  animation: showFilter .1s ease-out forwards;
}

.search_bar_block_bot_hide {
  display: none;
}

@keyframes showFilter {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}

.filter_box button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: none;
  margin-left: 10px;
  border-radius: 50%;
  color: var(--primary);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.filter_box button:hover {
  background-color: #f1f1f1;
}

.filter_box button:active {
  transform: scale(.98);
}

.filter_option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_option select {
  height: 30px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 10px;
}

.filter_option label {
  font-size: 16px;
}

.btn_close_filter {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: var(--secondary);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 16px;
}

.btn_close_filter:hover {
  background-color: var(--secondary_hover)
}

.btn_close_filter:active {
  transform: scale(.98);
}

.table {
  /* width: 80%; */
  width: 1000px;
  /* width: 0%; */
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.subject_title {
  background-color: var(--primary);
  color: #fff;
  /* width: 100%; */
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.subject_box {
  height: 280px;
  overflow: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}

.schedule_optionTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.option_time {
  padding: 20px;
  margin: 18px 0;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
}

#week {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  text-align: center;
}

.screen_shot {
  position: absolute;
  top: 30px;
  right: 20px;
  /* transform: translateY(-50%); */
}

.screen_shot button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(33,150,243,1) 0%, rgba(255,23,68,1) 100%);
  color: #fff;
  font-size: 20px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}

.screen_shot button:hover {
  opacity: .9;
}

.screen_shot button:active {
  transform: scale(.98);
}

.schedule {
  width: 1100px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 200px;
}

.schedule table, .schedule th, .schedule td {
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.schedule td {
  padding: 0 10px;
}

.schedule td:not(:first-child) {
  font-size: 12px;
}

.schedule th:not(:first-child), .schedule td:first-child {
  background-color: var(--primary);
  font-size: 14px;
}

.schedule tr:not(:first-child) {
  height: 30px;
}

.secondary {
  background-color: var(--secondary_hover)!important;
}

.table_result {
  margin-top: 20px;
  width: 1100px;
}

.table_result table {
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.table_result td, .table_result th {
  border: 1px solid #000;
  height: 32px;
}

.table_result th {
  background-color: var(--primary);
  color: #fff;
}

.table_result tr > td:last-child {
  cursor: pointer;
}

.table_result i {
  color: var(--secondary);
  transition: .1s;
}

.table_result tr > td:last-child:hover i {
  color: var(--secondary_hover);
  font-size: 16px;
}

.btn_clear {
  color: var(--secondary);
  transition: .1s;
}

.btn_clear:hover {
  font-size: 16px;
  color: var(--secondary_hover)
}

.btnMaMH {
  position: relative;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btnMaMH:after {
  content: "";
  background: var(--secondary_hover);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btnMaMH:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.footer {
  padding: 32px 100px;
  background-color: #181821;
  color: #a9b3bb;
  text-align: center;
}

/* PC */
@media (min-width: 1024px){
    
} 
/* Tablet */
@media (max-width: 1023px) and (min-width: 740px){
  
  .table {
    width: 100%;
  }

  .schedule_optionTime {
    width: 100%;
    margin: 0 32px;
  }

  .schedule {
    width: 100%;
  }

  .table_result {
    width: 100%;
    padding: 0 32px;
  }

  .screen_shot {
    right: 50px;
  }

}
/* Mobile */
@media (max-width: 740px){

}